<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="styles/main.56b31c3f.css">
  <% if (ENV_DEVELOPMENT) { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body ng-app="TodoList">
